# Portfolio

## About me

<img src="${avatar}" style="width: 10%, height: auto;">

Hi! I'm ${name}. Check out my repos!

## Projects

%{ for repo_key, repo_value in repos ~}
| ${repo_key}    | ${repo_value.pages-url != "nopage" ? "[Webpage](${repo_value.pages-url})" : "No Page"} | [GitHub](${repo_value.http-clone-url})   |
%{ endfor ~}


&copy; ${name} ${date}